*{
    border: 1px red solid;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    display: flex;
    height: 100vh;
}

#product{
    background-color: #E5E5E5;
    width: 35%;
    padding: 90px 7%;
}

h1{
    font-size: 50px;
}

figure{
    background-color: #C4C4C4;
    width: 65%;
    padding: 90px 0;
}

nav{
    width: 100%;
    padding: 20px 30px;
    position: absolute;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav button{
    font-size: 18px;
}

#searchbar{
    position: relative;
}

#search{
    height: 30px;
    border: 0;
    padding-left: 30px;
}

#icon{
    position:absolute;
    top:0px;
    left: 0px;
}

#gallery{
    display: flex;
    height: 30%;
}

figure img{
    margin: auto;
    border: magenta 3px solid;
    display: block;
}

#imgmain{
    height: 70%;
}

#gallery img{
    height: 100%;
}